@{
    ViewBag.Title = "About Nomad eCommerce";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nomad eCommerce based in O'Fallon, Illinois, Sniperdyne has designed eCommerce solutions for ERP software since 2001. The team is comprised of leading software engineers, graphic designers, project managers, and QA professionals in the industry.</p>
