@{
    ViewBag.Title = "Contact Us";    
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    1405 N Green Mt Rd #260<br />
    O'Fallon, IL 62269<br />
    <abbr title="Phone">P:</abbr>
    (618) 277-0340
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>