@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Nomad eCommerce</center></h1>
    <p class="lead">Nomad eCommerce seamlessly shares data between eCommerce and virtually any external data base. Sniperdyne has designed eCommerce solutions for ERP software since 2001. The team is comprised of leading software engineers, graphic designers, project managers, and QA professionals in the industry.</p>
    <p><center><a href="https://www.nomadecommerce.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></center></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Nomad?</h2>
        <p>Nomad as your web CMS solution will automate your customer service to your site, allowing your site to provide 24/7 customer service to your customers and salesperson(s). Give your customers up to date web access to your price lists, product catalog, inventory availability, shipping estimates and order statuses, all automated from your backoffice.</p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Turn Your Dynamics 365 into an eCommerce Powerhouse with Nomad.
        </p>
        <p>Nomad eCommerce - Leader in B2B Commerce - is a Content Management System, Catalog Managment and eCommerce shopping cart application built to integrate with virtually any enterprise resource planning (ERP) solution, resulting in one set of complete and accurate information. Nomad means:.</p>
        <p><a class="btn btn-default" href="https://www.nomadecommerce.com/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Integration</h2>
        <p>INTEGRATION with virtually ANY ERP system, including Microsoft Dynamics 365 BC, Dynamics 365 F&O, NAV, SYSPRO and Macola</p>
        <p><a class="btn btn-default" href="https://www.nomadecommerce.com/">Learn more &raquo;</a></p>
    </div>
</div>